* {box-sizing: border-box}

/* Add padding to containers */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  transition: all 4s ease-in-out;
}
li {
  float: right;
}
.don{
  color:yellow;
  font-family: 'beyond_the_mountainsregular', sans-serif;
}
.track{
  color: white;
  font-family: 'beyond_the_mountainsregular', sans-serif;
}
.start{
  float: left;
}
.start, .don{
  font-family: 'beyond_the_mountainsregular', sans-serif;
}
li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:yellow;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li:last-child {
  border-right: none;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: yellow;
  text-align: center;
}
body{
  background-color: rgb(255, 255, 255);
}
.jumbotron{
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px yellow;
  align-items: center;
}
.header-images{
  display: flex;
  justify-content: space-around;
}
img {
  border-radius: 50%;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
h3{
  text-align: center;
  text-shadow:2px 3px 5px yellow;
}
.row{
  justify-content: space-evenly;
}
#mpesa{
  border-radius: 0;
}