
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 20px;
    /* background-color: yellow; */
    /* color: whitesmoke; */
  }
  h1{
      text-align: center;
      text-transform: uppercase;
      /* color: yellow; */
      padding-top: 0px;
      align-items: center;
      margin-right: 400px;
      margin-left: 400px;
     
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .row {
    display: flex;
    /* background-color: yellow; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  
  };
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  h2{
    font-style: italic;
  }
 